USE [master]
GO
/****** Object:  Database [tvshowdb]    Script Date: 07/11/2022 00:48:45 ******/
CREATE DATABASE [tvshowdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tvshowdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\tvshowdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tvshowdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\tvshowdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tvshowdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tvshowdb]
GO
/****** Object:  Table [dbo].[castmember]    Script Date: 07/11/2022 00:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[castmember](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Birthday] [datetime2](7) NULL,
	[TvShowId] [int] NULL,
 CONSTRAINT [PK_castmember] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CastMemberTvShow]    Script Date: 07/11/2022 00:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CastMemberTvShow](
	[CastId] [int] NOT NULL,
	[TvShowsId] [int] NOT NULL,
 CONSTRAINT [PK_CastMemberTvShow] PRIMARY KEY CLUSTERED 
(
	[CastId] ASC,
	[TvShowsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scrapes]    Script Date: 07/11/2022 00:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scrapes](
	[Id] [int] NOT NULL,
	[TvShowId] [int] NOT NULL,
	[ScrapeDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_scrapes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tvshow]    Script Date: 07/11/2022 00:48:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tvshow](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CastMemberId] [int] NULL,
 CONSTRAINT [PK_tvshow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_castmember_TvShowId]    Script Date: 07/11/2022 00:48:45 ******/
CREATE NONCLUSTERED INDEX [IX_castmember_TvShowId] ON [dbo].[castmember]
(
	[TvShowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CastMemberTvShow_TvShowsId]    Script Date: 07/11/2022 00:48:45 ******/
CREATE NONCLUSTERED INDEX [IX_CastMemberTvShow_TvShowsId] ON [dbo].[CastMemberTvShow]
(
	[TvShowsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tvshow_CastMemberId]    Script Date: 07/11/2022 00:48:45 ******/
CREATE NONCLUSTERED INDEX [IX_tvshow_CastMemberId] ON [dbo].[tvshow]
(
	[CastMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[castmember]  WITH CHECK ADD  CONSTRAINT [FK_castmember_tvshow_TvShowId] FOREIGN KEY([TvShowId])
REFERENCES [dbo].[tvshow] ([Id])
GO
ALTER TABLE [dbo].[castmember] CHECK CONSTRAINT [FK_castmember_tvshow_TvShowId]
GO
ALTER TABLE [dbo].[CastMemberTvShow]  WITH CHECK ADD  CONSTRAINT [FK_CastMemberTvShow_castmember_CastId] FOREIGN KEY([CastId])
REFERENCES [dbo].[castmember] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CastMemberTvShow] CHECK CONSTRAINT [FK_CastMemberTvShow_castmember_CastId]
GO
ALTER TABLE [dbo].[CastMemberTvShow]  WITH CHECK ADD  CONSTRAINT [FK_CastMemberTvShow_tvshow_TvShowsId] FOREIGN KEY([TvShowsId])
REFERENCES [dbo].[tvshow] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CastMemberTvShow] CHECK CONSTRAINT [FK_CastMemberTvShow_tvshow_TvShowsId]
GO
ALTER TABLE [dbo].[tvshow]  WITH CHECK ADD  CONSTRAINT [FK_tvshow_castmember_CastMemberId] FOREIGN KEY([CastMemberId])
REFERENCES [dbo].[castmember] ([Id])
GO
ALTER TABLE [dbo].[tvshow] CHECK CONSTRAINT [FK_tvshow_castmember_CastMemberId]
GO
USE [master]
GO
